<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>education</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>DB_NAME</param-name>
    <param-value>XE</param-value>
  </context-param>
  <context-param>
    <param-name>userID</param-name>
    <param-value>HR</param-value>
  </context-param>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>aa</servlet-name>
    <servlet-class>com.encore.controller.InitParamServlet</servlet-class>
    <init-param>
      <param-name>userid</param-name>
      <param-value>HR</param-value>
    </init-param>
    <init-param>
      <param-name>userpass</param-name>
      <param-value>1234</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>aa</servlet-name>
    <url-pattern>/initParam</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>two</servlet-name>
    <servlet-class>com.encore.controller.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>two</servlet-name>
    <url-pattern>/second2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>two</servlet-name>
    <url-pattern>/second3</url-pattern>
  </servlet-mapping>
</web-app>